body {
  font-family: Work Sans;
  text-align: center;
  background-color: aliceblue;

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: aliceblue;
  
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.label {
  text-align: left;
  float: left;
}

.nInput {
  margin-left: 53px;
}

.textarea {
  margin-left: 30px;
}

#contact-form div {
  padding-top: 10px;
  margin-top: 10px;
}

footer.footer {
  background-color: rgb(255, 255, 255);
}


@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 40%;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: lightblue;
}

.active {
  color: lightblue;
}

.portfolioImage {
  width: 100%;
}

.pic {
	clip-path: circle();

}